*{margin:0;}
.entry{overflow:hidden;background-color: #F1F1F1;clear:both;padding:20px;}

.entry ul{list-style: none;float:left;margin-left:20px;
	li{height:35px;line-height:35px;}
	
	.nof2 input{float:right;width:200px;height:30px;padding-left:10px;}
	.nofl input{float:none;width:50px;}
	.spli{font-size:18px;font-weight:bold;border-bottom:1px solid #ccc;}
	li{margin-bottom:10px;}
}
.rightBox .entry #ru{
				width:130px;
				height:40px;
				font-size: 20px;
				position: absolute;
				bottom:0;
				left:300px;
				display:block;
				background-color: #999999;
				border-radius:5px;
				border:0;
	}
.rightBox .entry .el-button--text{
	display:none;
}