#app{
    background-color: #F9FAFC;
	.login{
		width:500px;
		height:500px;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		ul{
			border:1px solid #f0f0f0;
			border-radius:2em;
			position: absolute;
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);
			span{
				display:block;
				padding:5px 0;
				font-size:14px;
			}

			input{
				border:1px solid #E5E5E5;
				border-radius:5px;
				box-shadow: 0px 0px 8px #f0f0f0;
				height:25px;
				width:100%;
			}

			li{
				background-color:#fff;
				
				width:300px;
			    padding: 0 30px;
			}
			.header{
				border-top-left-radius:2em;
				border-top-right-radius:2em;
				height:70px;
			    background-color: #444;
				h3{
					color:#fff;
					line-height:70px;
				}
			}
			.username{
				padding-top:12px;
			}
			.psw{
				padding-bottom:24px;
				padding-top:12px;
			}
			.btn{
				padding:12px 30px;
				background-color: #444;
				border-bottom-left-radius:2em;
				border-bottom-right-radius:2em;
				button{
					
					border:none;
					width:60px;
					height:40px;
					
					
				}
				.reg{
					padding:0;
					float:right;
					line-height:40px;
					height:40px;
					a{
						color:white;
					}
				}
				
			}
			.btnColor{
				color:white;
				background-color:#20A0FF;
			}

			.loading{
				display:none;

			}
		}
		.el-alert{
			width:350px;
			position:absolute;
			left:50%;
			top:0;
			transform:translate(-50%,0);
			display:none;
		}
	}
}
