#Quote{
	.el-input{
		width:200px !important;
		margin:10px 0 10px 20px;}
	p{
		padding-left:20px;
		font-weight:bold;
	}
	.smore{
		float:left;
	}
	.el-pagination{
		margin-left:420px;
		margin-top:10px;
	}
	#butt{
		display:none;
	}
}
